<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
   .pointer{
    cursor :pointer;
    text-decoration: none;
  }
  .center{
    text-align: center;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background-color: #FCFCFC;

  }

  .delete{
    float:right;
  }

  .pull-right{
    margin-left: auto;
    margin-left: 0;
  }

  .brand-logo{
    margin-left: 40px;
    margin-top: 40px;
  }

  .margin-btn{
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .card-title{
    font-weight: 400!important;
  }

  .top-nav{
    height:150px;
  }

  .card{
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -o-transition: all 0.5s ease; /* IE 9 */
    -ms-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
  }

  .card:hover  {
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
     transform:scale(1.03);
  }

  h3{
    margin: 40px 0;
  }

</style>
</head>
<header>
<nav class="top-nav">
   <div class="nav-wrapper blue-grey darken-3 ">
    <a href="/" class="brand-logo">Application ReactJS & NodeJS</a>
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light red darken-2" href="/new" ><i class="material-icons">add</i></a>
  </div>
</nav>
</header>
<main >
 
<div id="app"></div>
</main>
<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Yvan Betremieux & Nicolas Martin</h5>
        <p class="grey-text text-lighten-4">Cette application a été créée dans le cadre de la Licence Pro. Developpment applications Internet/Intranet</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:nicolas.martin3@etu.udamail.fr">nicolas.martin3@etu.udamail.fr</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:yvan.betremieux@etu.udamail.fr">yvan.betremieux@etu.udamail.fr</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:nimartin.pro@gmail.com">nimartin.pro@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright 
      <a class="grey-text text-lighten-4 right" href="https://github.com/nimartin">GitHub</a>
    </div>
  </div>
</footer>
</html>
<!-- Compiled and minified CSS -->

<!-- Compiled and minified JavaScript -->
